.dashboard-section-wrapper{
  display: flex;
  margin-top: auto;
  flex-direction: column;
  justify-content: space-evenly;

}

.dashboard-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dashboard-hero {
  display: flex;
  flex-direction: column;
  gap : 1rem;
  justify-content: center;
  padding-left: 10px;
  padding-bottom: 2rem;
  text-align: left;
  background: #ffffff;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(243, 243, 243) 100%
  );
  box-shadow:0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: fit-content;
  p {
    margin: 0;
  }

  svg{
    padding: 10px
  }
}

.welcome-message{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
  font-weight: 600;
}

.log-entry-label{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;

  p{
    font-size: 18px;
     margin: 0;
  }
}

.user-name {
  padding: 0;
  margin: 0;
  font-size: 32px;
}

.user-role {
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 24px;
  color: var(--text-muted);
}






#log-modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.25s ease;
  display: 0.25s allow-discrete; overlay: 0.25s allow-discrete;
  opacity: 1;
}
#log-modal{
    opacity: 0;
    transform: translateY(16px) scale(0.98);
    transition: opacity 0.25s ease, transform 0.25s ease,
    display 0.25s allow-discrete, overlay 0.25s allow-discrete;
    pointer-events: none;
    box-sizing: border-box;
    flex-direction: column;
    z-index: 200;
    width: 90%;
    height: fit-content;
    overflow-y: scroll;
    border-radius: 5px;
    position: absolute;
    margin: 0 auto;
    background-color: #ffffff;
    pointer-events: none;
     top: 12%;
  }

  #log-modal[open] {
  opacity: 1;
  transform: translateY(0) scale(1);
  display: flex;
  flex-direction: column;
  z-index: 200;
  box-sizing: border-box;
  width: 90%;
  max-height: calc(100vh - 2rem);
  height: calc(100vh - 2rem);
  overflow-y: scroll;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(0) scale(1);
  background-color: #ffffff;
  pointer-events: auto;
  top: 1rem;

  .close-modal {
    align-self: flex-end;
  }
  }

  @starting-style{
    #log-modal[open]{
      opacity: 0;
      transform: translateY(16px) scale(0.98);
    }
  }

  .modal-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

  }
  .modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    width: 100%;
    height: 70%;


  }

  @media (min-width: 768px) {
    .modal-form {
      width: 70%;
    }
  }
